{
  "extends": ["plugin:prettier/recommended", "react-important-stuff"],
  "parser": "@babel/eslint-parser",
  "rules": {
    "jsx-a11y/no-noninteractive-element-interactions": "off"
  },
  "root": true
}
